*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #991501;
  font-size: 40px;
}

h2 {
  font-weight: lighter;
  color: #130906;
  font-size: 18px;
  margin-top: -20px;
  position: absolute;
}

.container {
  width: 1200px;
  height: 800px;
  background-color: #e8e4d7;
}

.header {
  width: 1200px;
  height: 82px;
  background-color: #36422f;
  position: relative;
}

.logo {
  width: 200px;
  position: absolute;
  margin-left: 20px;
  margin-top: 25px;
}

.nav-link {
  float: right;
  margin-right: 50px;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-top: 40px;
  font-weight: normal;
}

.nav-link:hover {
  opacity: 0.65;
}

.links {
  margin-right: 250px;
}

#arrow {
  width: 36px;
  height: 18px;
  margin-top: 1px;
  margin-left: 492px;
  transform: rotate(180deg);
}

.left-divider {
  height: 18px;
  width: 492px;
  margin-top: 82px;
  position: absolute;
  background-color: #36422f;
}

.right-divider {
  height: 18px;
  width: 672px;
  margin-top: 82px;
  position: absolute;
  margin-left: 528px;
  background-color: #36422f;
}

.hopothermia {
  width: 420px;
  margin-top: 110px;
  margin-left: 700px;
}

.beer-pic {
  position: relative;
}

.beer-pic:after {
  content: url("../img/Beer-Powered.png");
  position: absolute;
  margin-left: -450px;
  margin-top: 380px;
  width: 10px;
}

.beer-pic:before {
  position: absolute;
  content: "\\hóp-ō-'ther-mē-a\\";
  margin-left: 670px;
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
  transform: rotate(-7deg);
  color: #36422f;
}

.description {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  width: 500px;
  margin-left: 50px;
  margin-top: 110px;
}

.goods {
  text-align: center;
  font-size: 20px;
  background-color: #36422f;
  font-weight: lighter;
  letter-spacing: 2px;
}

.gallery {
  position: absolute;
  margin-left: 140px;
  margin-top: 50px;
}

.gallery img {
  float: left;
  width: 170px;
  border: medium solid  #991501;
  margin-left: 10px;
  position: relative;
}

.gallery img:hover {
  opacity: 0.65;
}

.right, .left {
  position: absolute;
  margin-top: 85px;
}

.right:hover, .left:hover {
  opacity: 0.65;
}

.right {
  margin-left: 1053px;
}

.left {
  transform: rotate(180deg);
  margin-left: 73px;
}

table {
  border-collapse: collapse;
  margin-left: 50px;
  position: absolute;
  margin-top: -190px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #36422f;
}

td {
  padding-left: 100px;
}
